{% extends 'base.html.twig' %}

{% block title %} Modifier mon mot de passe 
{% endblock %}

{% block content %}

	<h1> Modifier le mot de passe </h1>
	<p>
		-<a href="{{ path ('app_acount')}}"> Retourner à mon compte </a>
	</p>
	<hr>
	{% if notification  %}
		<div class="alert alert-info">{{notification}}
		</div>
	{% endif %}
	{{form (form)}}
		<hr>


	{% endblock %}
